## Dependencies:

In [1]:
import numpy as np
import pandas as pd
#from math import pi, sqrt
from os import path
from analyse_errs import calc_percent_errs, mean_percent_errs

## Data directories:

In [2]:
# On PC:
#NEA_dir = path.expanduser("~/OneDrive/SEPHI_data/NASA_EA/")
#GDR2_dir = path.expanduser("~/OneDrive/SEPHI_data/Gaia/DR2/")
#CKS_dir = path.expanduser("~/OneDrive/SEPHI_data/CKS/")
#exoplanets_dir = path.expanduser("~/OneDrive/SEPHI_data/exoplanets/")

# On my laptop:
NEA_dir = path.expanduser("~/Scarlett/OneDrive - Liverpool John Moores University/SEPHI_data/NASA_EA/")
GDR2_dir = path.expanduser("~/Scarlett/OneDrive - Liverpool John Moores University/SEPHI_data/Gaia/DR2/")
CKS_dir = path.expanduser("~/Scarlett/OneDrive - Liverpool John Moores University/SEPHI_data/CKS/")
exoplanets_dir = path.expanduser("~/Scarlett/OneDrive - Liverpool John Moores University/SEPHI_data/exoplanets/")

data_date = "2022_04_28"

# Loading data:

In [3]:
# Read the NASA Exoplanet Archive data:
NEA = pd.read_csv(path.join(NEA_dir, f"NASA_EA_processed_"+ data_date + ".csv"))
NEA_len = NEA.shape[0]
print("No. rows in NASA EA:", NEA_len)
print("\nInfo:\n", NEA.info())
print("\nDescribe:\n", NEA.describe())
#print(NEA.head())

No. rows in NASA EA: 5014
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5014 entries, 0 to 5013
Data columns (total 47 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pl_name              5014 non-null   object
 1   hostname             5014 non-null   object
 2   gaia_designation     4828 non-null   object
 3   NEA_sy_snum          5014 non-null   int64
 4   NEA_sy_pnum          5014 non-null   int64
 5   NEA_discoverymethod  5014 non-null   object
 6   NEA_pl_period        4841 non-null   float64
 7   NEA_pl_sma           2807 non-null   float64
 8   NEA_pl_smaerr1       1996 non-null   float64
 9   NEA_pl_smaerr2       1995 non-null   float64
 10  NEA_pl_rad           3883 non-null   float64
 11  NEA_pl_raderr1       3501 non-null   float64
 12  NEA_pl_raderr2       3501 non-null   float64
 13  NEA_pl_mass          2076 non-null   float64
 14  NEA_pl_masserr1      1913 non-null   float64
 15  NEA_pl_masserr2      1913 non-null   float64
 16  NEA_pl_dens          695 non-null    float64
 17  NEA_pl_e             1767 non-null   float64
 18  NEA_pl_teq           946 non-null    float64
 19  NEA_st_teff          4651 non-null   float64
 20  NEA_st_tefferr1      4485 non-null   float64
 21  NEA_st_tefferr2      4458 non-null   float64
 22  NEA_st_rad           4555 non-null   float64
 23  NEA_st_raderr1       4402 non-null   float64
 24  NEA_st_raderr2       4377 non-null   float64
 25  NEA_st_mass          4254 non-null   float64
 26  NEA_st_masserr1      3966 non-null   float64
 27  NEA_st_masserr2      3941 non-null   float64
 28  NEA_st_met           3612 non-null   float64
 29  NEA_st_meterr1       3282 non-null   float64
 30  NEA_st_meterr2       3282 non-null   float64
 31  NEA_st_lum           934 non-null    float64
 32  NEA_st_lumerr1       799 non-null    float64
 33  NEA_st_lumerr2       786 non-null    float64
 34  NEA_st_logg          4394 non-null   float64
 35  NEA_st_age           2339 non-null   float64
 36  NEA_st_ageerr1       2162 non-null   float64
 37  NEA_st_ageerr2       2162 non-null   float64
 38  gaia_source_id       5014 non-null   int64
 39  NEAc_lum             4448 non-null   float64
 40  NEAc_lumerr1         4260 non-null   float64
 41  NEAc_lumerr2         4236 non-null   float64
 42  NEAc_teff            831 non-null    float64
 43  NEAc_tefferr1        731 non-null    float64
 44  NEAc_tefferr2        720 non-null    float64
 45  pl_koi_name          2679 non-null   object
 46  NEAorRos             5014 non-null   object
dtypes: float64(38), int64(3), object(6)
memory usage: 1.8+ MB

Info:
 None

Describe:
        NEA_sy_snum  NEA_sy_pnum  NEA_pl_period   NEA_pl_sma  NEA_pl_smaerr1  \
count  5014.000000  5014.000000   4.841000e+03  2807.000000     1996.000000
mean      1.102712     1.758277   8.689291e+04    11.661027        3.040878
std       0.340762     1.149596   5.779857e+06   183.936229      116.611556
min       1.000000     1.000000   9.070629e-02     0.004400        0.000000
25%       1.000000     1.000000   4.465630e+00     0.055705        0.000900
50%       1.000000     1.000000   1.153533e+01     0.117000        0.003000
75%       1.000000     2.000000   3.898530e+01     0.714000        0.040000
max       4.000000     8.000000   4.020000e+08  7506.000000     5205.000000

       NEA_pl_smaerr2   NEA_pl_rad  NEA_pl_raderr1  NEA_pl_raderr2  \
count     1995.000000  3883.000000     3501.000000     3501.000000
mean        -1.431486     4.156064        0.567864       -0.446731
std         46.404335     4.656381        1.625780        0.979509
min      -2060.000000     0.296000        0.000000      -32.506000
25%         -0.040000     1.580000        0.140000       -0.503000
50%         -0.003100     2.350000        0.290000       -0.230000
75%         -0.000900     3.540000        0.620000       -0.120000
max          0.000000    77.342000       68.910000        0.000000

        NEA_pl_mass  ...   NEA_st_age  NEA_st_ageerr1  NEA_st_ageerr2  \
count   2076.000000  ...  2339.000000     2162.000000     2162.000000
mean     720.937353  ...     4.230336        2.831317       -1.921031
std     1334.740569  ...     2.370301        2.106341        1.179597
min        0.020000  ...     0.001000        0.001000       -8.000000
25%       15.972875  ...     2.880000        1.000000       -2.730000
50%      214.317625  ...     4.070000        2.350000       -2.000000
75%      734.166825  ...     4.900000        4.537500       -0.948250
max    17668.169700  ...    14.900000       26.000000       -0.001000

       gaia_source_id      NEAc_lum  NEAc_lumerr1  NEAc_lumerr2     NEAc_teff  \
count    5.014000e+03  4.448000e+03  4.260000e+03  4.236000e+03    831.000000
mean     2.349793e+18  5.713163e+00  2.519571e+00 -2.354915e+00   5217.191183
std      2.343855e+18  5.046951e+01  5.305334e+01  5.290536e+01   2122.424209
min     -9.223372e+18  7.977193e-07  1.387338e-07 -3.101502e+03   1726.762335
25%      2.077608e+18  3.918428e-01  3.919144e-02 -4.092662e-01   4398.827000
50%      2.119139e+18  8.604408e-01  1.636286e-01 -1.302650e-01   5302.474049
75%      2.857007e+18  1.809948e+00  5.382504e-01 -3.813492e-02   5871.268355
max      6.911951e+18  1.858588e+03  3.101502e+03 -1.387338e-07  32887.506801

       NEAc_tefferr1  NEAc_tefferr2
count   7.310000e+02   7.200000e+02
mean    1.471077e+02  -1.645268e+02
std     1.681503e+02   2.688140e+02
min     1.145930e-11  -3.167479e+03
25%     4.246263e+01  -1.957764e+02
50%     1.019493e+02  -1.013564e+02
75%     1.952179e+02  -4.308205e+01
max     2.067211e+03  -1.145930e-11

[8 rows x 41 columns]

In [4]:
# Read the Gaia DR2 data:
GDR2 = pd.read_csv(path.join(GDR2_dir, f"DR2_processed_" + data_date + ".csv"))
GDR2_len = GDR2.shape[0]
print("No. rows in Gaia DR2:", GDR2_len)
print("\nInfo:\n", GDR2.info())
print("\nDescribe:\n", GDR2.describe())
#print(GDR2.head())

No. rows in Gaia DR2: 4196
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4196 entries, 0 to 4195
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gaia_source_id    4196 non-null   int64
 1   gdr2_st_teff      3489 non-null   float64
 2   gdr2_st_tefferr2  3489 non-null   float64
 3   gdr2_st_tefferr1  3489 non-null   float64
 4   gdr2_st_rad       3214 non-null   float64
 5   gdr2_st_raderr2   3214 non-null   float64
 6   gdr2_st_raderr1   3214 non-null   float64
 7   gdr2_st_lum       3214 non-null   float64
 8   gdr2_st_lumerr2   3214 non-null   float64
 9   gdr2_st_lumerr1   3214 non-null   float64
dtypes: float64(9), int64(1)
memory usage: 327.9 KB

Info:
 None

Describe:
        gaia_source_id  gdr2_st_teff  gdr2_st_tefferr2  gdr2_st_tefferr1  \
count    4.196000e+03   3489.000000       3489.000000       3489.000000
mean     2.657249e+18   5323.249057       -140.432700        222.907046
std      1.408087e+18    714.946450        142.167632        257.851136
min      2.457076e+16   3310.250000      -1574.700000          5.250000
25%      2.078036e+18   4956.040000       -170.092300         70.000000
50%      2.107618e+18   5364.333500        -96.113000        140.803500
75%      2.669937e+18   5772.000000        -55.000000        268.250000
max      6.911951e+18   9613.000000         -6.000000       1882.083500

       gdr2_st_rad  gdr2_st_raderr2  gdr2_st_raderr1  gdr2_st_lum  \
count  3214.000000      3214.000000      3214.000000  3214.000000
mean      1.809441        -0.120274         0.088762     7.577570
std       4.383751         0.448007         0.331422    68.956355
min       0.503295       -13.181324         0.001893     0.028520
25%       0.843817        -0.110998         0.022190     0.439060
50%       1.079205        -0.053625         0.039875     0.983901
75%       1.464596        -0.027630         0.074850     2.258639
max     109.458660        -0.001580         8.428508  2885.048300

       gdr2_st_lumerr2  gdr2_st_lumerr1
count      3214.000000      3214.000000
mean         -0.353830         0.353830
std           5.238580         5.238580
min        -251.777100         0.000054
25%          -0.088619         0.008002
50%          -0.029387         0.029387
75%          -0.008002         0.088618
max          -0.000054       251.777100

In [5]:
# Read in CKS data:
CKS = pd.read_csv(path.join(CKS_dir, f"CKS_processed_"+ data_date + ".csv"))
CKS_len = CKS.shape[0]
print("No. rows in CKS:", CKS_len)
print("\nInfo:\n", CKS.info())
print("\nDescribe:\n", CKS.describe())
#print(CKS.head())

No. rows in CKS: 2025
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2025 entries, 0 to 2024
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   st_koi_name        2025 non-null   object
 1   pl_koi_name        2025 non-null   object
 2   pl_kepler_name     1298 non-null   object
 3   status             2025 non-null   object
 4   CKSI_st_teff       2025 non-null   float64
 5   CKSI_st_tefferr1   2025 non-null   float64
 6   CKSI_st_tefferr2   2025 non-null   float64
 7   CKSII_st_teff      2025 non-null   float64
 8   CKSII_st_tefferr1  2025 non-null   float64
 9   CKSII_st_tefferr2  2025 non-null   float64
 10  CKSII_st_rad       2025 non-null   float64
 11  CKSII_st_raderr1   2025 non-null   float64
 12  CKSII_st_raderr2   2025 non-null   float64
 13  CKSII_st_mass      2025 non-null   float64
 14  CKSII_st_masserr1  2025 non-null   float64
 15  CKSII_st_masserr2  2025 non-null   float64
 16  CKSII_st_age       2025 non-null   float64
 17  CKSII_st_ageerr1   2025 non-null   float64
 18  CKSII_st_ageerr2   2025 non-null   float64
 19  CKSII_pl_rad       1992 non-null   float64
 20  CKSII_pl_raderr1   1992 non-null   float64
 21  CKSII_pl_raderr2   1992 non-null   float64
 22  CKSII_pl_sma       1992 non-null   float64
 23  CKSII_pl_smaerr1   1992 non-null   float64
 24  CKSII_pl_smaerr2   1992 non-null   float64
dtypes: float64(21), object(4)
memory usage: 395.6+ KB

Info:
 None

Describe:
        CKSI_st_teff  CKSI_st_tefferr1  CKSI_st_tefferr2  CKSII_st_teff  \
count   2025.000000            2025.0            2025.0    2025.000000
mean    5642.489037              60.0             -60.0    5642.824691
std      430.657484               0.0               0.0     427.125286
min     4617.700000              60.0             -60.0    4619.000000
25%     5333.500000              60.0             -60.0    5344.000000
50%     5696.700000              60.0             -60.0    5691.000000
75%     5956.500000              60.0             -60.0    5953.000000
max     6656.300000              60.0             -60.0    6651.000000

       CKSII_st_tefferr1  CKSII_st_tefferr2  CKSII_st_rad  CKSII_st_raderr1  \
count        2025.000000        2025.000000   2025.000000       2025.000000
mean           65.194074         -64.822222      1.238453          0.155387
std             6.508611           4.800980      0.644246          0.164295
min            48.000000        -192.000000      0.614000          0.017883
25%            64.000000         -66.000000      0.884000          0.061656
50%            65.000000         -65.000000      1.110000          0.127838
75%            66.000000         -64.000000      1.390000          0.211885
max           182.000000         -49.000000     10.400000          4.521239

       CKSII_st_raderr2  CKSII_st_mass  ...  CKSII_st_masserr2  CKSII_st_age  \
count       2025.000000    2025.000000  ...        2025.000000   2025.000000
mean          -0.124208       1.012334  ...          -0.042689      6.164819
std            0.123564       0.167055  ...           0.018042      2.476841
min           -1.513803       0.624000  ...          -0.230281      1.051962
25%           -0.172194       0.885000  ...          -0.046709      4.168694
50%           -0.094529       1.001000  ...          -0.035584      5.997911
75%           -0.044915       1.122000  ...          -0.032528      7.943282
max           -0.018623       2.119000  ...          -0.018387     14.487719

       CKSII_st_ageerr1  CKSII_st_ageerr2  CKSII_pl_rad  CKSII_pl_raderr1  \
count       2025.000000       2025.000000   1992.000000       1992.000000
mean           2.479580         -2.552482     54.930886         24.283725
std            1.587071          1.555771    968.627914        395.600943
min            0.128011         -6.053049      0.277709          0.029773
25%            1.155667         -3.801481      1.340259          0.150664
50%            1.925069         -2.119604      2.096114          0.236426
75%            3.801165         -1.245132      3.010397          0.397102
max            6.026236         -0.113535  29945.020703      14253.725557

       CKSII_pl_raderr2  CKSII_pl_sma  CKSII_pl_smaerr1  CKSII_pl_smaerr2
count       1992.000000   1992.000000       1992.000000       1992.000000
mean         -24.283725      0.197240          0.003603         -0.003603
std          395.600943      0.273343          0.005229          0.005229
min       -14253.725557      0.008049          0.000135         -0.054719
25%           -0.397102      0.058095          0.001005         -0.003728
50%           -0.236426      0.103432          0.001808         -0.001808
75%           -0.150664      0.204830          0.003728         -0.001005
max           -0.029773      2.955519          0.054719         -0.000135

[8 rows x 21 columns]

# Crossmatching

## Merging the NASA EA and Gaia DR2 to create the start of the exoplanets data base:

In [6]:
# Merging the NASA EA and Gaia GDR2 to start the exoplanets data frame:
exoplanets = pd.merge(NEA, GDR2, on="gaia_source_id", how="left", indicator = "NEAorGDR2", validate="many_to_one")

# Results of the merge:
in_NEA_GDR2 = np.where(exoplanets["NEAorGDR2"] == "both")[0]
in_NEA_only = np.where(exoplanets["NEAorGDR2"] == "left_only")[0]
# The below doesn't work because I merged on "left":
#in_GDR2_only = np.where(exoplanets["NEAorGDR2"] == "right_only")[0] # this should be 0 anyway because I used the list of NEA exoplanets to query GDR2

print("Number of Gaia DR2 stars matched with the NEA:", in_NEA_GDR2.size, 
      "\nTotal number of stars in Gaia DR2 df:", GDR2_len)
# ^ TODO: find the number of exoplanets you expect to see in GDR2 and compare with the number 
# matched with NEA.
print("Number of planets in the the NEA only:", in_NEA_only.size)
#print("Number of Gaia DR2 stars not in the NEA (unmatched)", in_GDR2_only[0].size)

print("\nNo. rows in exoplanets:", exoplanets.shape[0])
print("\nInfo:\n", exoplanets.info())
print("\nDescribe:\n", exoplanets.describe())
#print(exoplanets)

Number of Gaia DR2 stars matched with the NEA: 4514
Total number of stars in Gaia DR2 df: 4196
Number of stars in the the NEA only: 500

No. rows in exoplanets: 5014
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5014 entries, 0 to 5013
Data columns (total 57 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pl_name              5014 non-null   object
 1   hostname             5014 non-null   object
 2   gaia_designation     4828 non-null   object
 3   NEA_sy_snum          5014 non-null   int64
 4   NEA_sy_pnum          5014 non-null   int64
 5   NEA_discoverymethod  5014 non-null   object
 6   NEA_pl_period        4841 non-null   float64
 7   NEA_pl_sma           2807 non-null   float64
 8   NEA_pl_smaerr1       1996 non-null   float64
 9   NEA_pl_smaerr2       1995 non-null   float64
 10  NEA_pl_rad           3883 non-null   float64
 11  NEA_pl_raderr1       3501 non-null   float64
 12  NEA_pl_raderr2       3501 non-null   float64
 13  NEA_pl_mass          2076 non-null   float64
 14  NEA_pl_masserr1      1913 non-null   float64
 15  NEA_pl_masserr2      1913 non-null   float64
 16  NEA_pl_dens          695 non-null    float64
 17  NEA_pl_e             1767 non-null   float64
 18  NEA_pl_teq           946 non-null    float64
 19  NEA_st_teff          4651 non-null   float64
 20  NEA_st_tefferr1      4485 non-null   float64
 21  NEA_st_tefferr2      4458 non-null   float64
 22  NEA_st_rad           4555 non-null   float64
 23  NEA_st_raderr1       4402 non-null   float64
 24  NEA_st_raderr2       4377 non-null   float64
 25  NEA_st_mass          4254 non-null   float64
 26  NEA_st_masserr1      3966 non-null   float64
 27  NEA_st_masserr2      3941 non-null   float64
 28  NEA_st_met           3612 non-null   float64
 29  NEA_st_meterr1       3282 non-null   float64
 30  NEA_st_meterr2       3282 non-null   float64
 31  NEA_st_lum           934 non-null    float64
 32  NEA_st_lumerr1       799 non-null    float64
 33  NEA_st_lumerr2       786 non-null    float64
 34  NEA_st_logg          4394 non-null   float64
 35  NEA_st_age           2339 non-null   float64
 36  NEA_st_ageerr1       2162 non-null   float64
 37  NEA_st_ageerr2       2162 non-null   float64
 38  gaia_source_id       5014 non-null   int64
 39  NEAc_lum             4448 non-null   float64
 40  NEAc_lumerr1         4260 non-null   float64
 41  NEAc_lumerr2         4236 non-null   float64
 42  NEAc_teff            831 non-null    float64
 43  NEAc_tefferr1        731 non-null    float64
 44  NEAc_tefferr2        720 non-null    float64
 45  pl_koi_name          2679 non-null   object
 46  NEAorRos             5014 non-null   object
 47  gdr2_st_teff         4498 non-null   float64
 48  gdr2_st_tefferr2     4498 non-null   float64
 49  gdr2_st_tefferr1     4498 non-null   float64
 50  gdr2_st_rad          4209 non-null   float64
 51  gdr2_st_raderr2      4209 non-null   float64
 52  gdr2_st_raderr1      4209 non-null   float64
 53  gdr2_st_lum          4209 non-null   float64
 54  gdr2_st_lumerr2      4209 non-null   float64
 55  gdr2_st_lumerr1      4209 non-null   float64
 56  NEAorGDR2            5014 non-null   category
dtypes: category(1), float64(47), int64(3), object(6)
memory usage: 2.2+ MB

Info:
 None

Describe:
        NEA_sy_snum  NEA_sy_pnum  NEA_pl_period   NEA_pl_sma  NEA_pl_smaerr1  \
count  5014.000000  5014.000000   4.841000e+03  2807.000000     1996.000000
mean      1.102712     1.758277   8.689291e+04    11.661027        3.040878
std       0.340762     1.149596   5.779857e+06   183.936229      116.611556
min       1.000000     1.000000   9.070629e-02     0.004400        0.000000
25%       1.000000     1.000000   4.465630e+00     0.055705        0.000900
50%       1.000000     1.000000   1.153533e+01     0.117000        0.003000
75%       1.000000     2.000000   3.898530e+01     0.714000        0.040000
max       4.000000     8.000000   4.020000e+08  7506.000000     5205.000000

       NEA_pl_smaerr2   NEA_pl_rad  NEA_pl_raderr1  NEA_pl_raderr2  \
count     1995.000000  3883.000000     3501.000000     3501.000000
mean        -1.431486     4.156064        0.567864       -0.446731
std         46.404335     4.656381        1.625780        0.979509
min      -2060.000000     0.296000        0.000000      -32.506000
25%         -0.040000     1.580000        0.140000       -0.503000
50%         -0.003100     2.350000        0.290000       -0.230000
75%         -0.000900     3.540000        0.620000       -0.120000
max          0.000000    77.342000       68.910000        0.000000

        NEA_pl_mass  ...  NEAc_tefferr2  gdr2_st_teff  gdr2_st_tefferr2  \
count   2076.000000  ...   7.200000e+02   4498.000000       4498.000000
mean     720.937353  ...  -1.645268e+02   5326.271019       -129.998689
std     1334.740569  ...   2.688140e+02    707.655278        124.528360
min        0.020000  ...  -3.167479e+03   3310.250000      -1574.700000
25%       15.972875  ...  -1.957764e+02   4959.320000       -162.840000
50%      214.317625  ...  -1.013564e+02   5370.000000        -92.958250
75%      734.166825  ...  -4.308205e+01   5772.000000        -53.333500
max    17668.169700  ...  -1.145930e-11   9435.000000         -6.000000

       gdr2_st_tefferr1  gdr2_st_rad  gdr2_st_raderr2  gdr2_st_raderr1  \
count       4498.000000  4209.000000      4209.000000      4209.000000
mean         208.347600     1.668763        -0.109252         0.079871
std          218.160849     3.917825         0.399424         0.302192
min            5.250000     0.503295       -13.181324         0.001893
25%           70.092625     0.834490        -0.104955         0.021496
50%          137.838300     1.054623        -0.051499         0.038615
75%          260.807200     1.423450        -0.027523         0.069371
max         1882.083500   109.458660        -0.001580         8.428508

       gdr2_st_lum  gdr2_st_lumerr2  gdr2_st_lumerr1
count  4209.000000      4209.000000      4209.000000
mean      6.309949        -0.305047         0.305047
std      61.010815         4.817190         4.817190
min       0.028520      -251.777100         0.000054
25%       0.423233        -0.079702         0.007135
50%       0.930404        -0.026884         0.026884
75%       2.158237        -0.007135         0.079702
max    2885.048300        -0.000054       251.777100

[8 rows x 50 columns]

## Merging the exoplanets database with CKS:

In [7]:
# Merging exoplanets with CKS to start the exoplanets data frame:
exoplanets = pd.merge(exoplanets, CKS, on="pl_koi_name", how="left", indicator = "EXOorCKS")

# Results of the merge:
in_exo_CKS = np.where(exoplanets["EXOorCKS"] == "both")[0]
in_exo_only = np.where(exoplanets["EXOorCKS"] == "left_only")[0]
#in_CKS_only = np.where(exoplanets["EXOorCKS"] == "right_only")

print("Number of CKS planets crossmatched with the exoplanets df:", in_exo_CKS.size, "out of", CKS_len, "\nKepler/CKS planets.")
print("\nNumber of planets in the exoplanets df that aren't in CKS", in_exo_only.size, "out of", exoplanets.shape[0], "exoplanets." )
print("\nin_exo_CKS.size + in_exo_only.size =", in_exo_CKS.size + in_exo_only.size)
#print("Number of unmatched stars from CKS:", not_matched_CKS[0].size)

print("\nNo. rows in exoplanets:", exoplanets.shape[0])
print("\nInfo:\n", exoplanets.info())
print("\nDescribe:\n", exoplanets.describe())
#print(exoplanets)

Number of CKS planets crossmatched with the exoplanets df: 1445 out of 2025
Kepler/CKS planets.

Number of planets in the exoplanets df that aren't in CKS 3569 out of 5014 exoplanets.

in_exo_CKS.size + in_exo_only.size = 5014

No. rows in exoplanets: 5014
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5014 entries, 0 to 5013
Data columns (total 82 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pl_name              5014 non-null   object
 1   hostname             5014 non-null   object
 2   gaia_designation     4828 non-null   object
 3   NEA_sy_snum          5014 non-null   int64
 4   NEA_sy_pnum          5014 non-null   int64
 5   NEA_discoverymethod  5014 non-null   object
 6   NEA_pl_period        4841 non-null   float64
 7   NEA_pl_sma           2807 non-null   float64
 8   NEA_pl_smaerr1       1996 non-null   float64
 9   NEA_pl_smaerr2       1995 non-null   float64
 10  NEA_pl_rad           3883 non-null   float64
 11  NEA_pl_raderr1       3501 non-null   float64
 12  NEA_pl_raderr2       3501 non-null   float64
 13  NEA_pl_mass          2076 non-null   float64
 14  NEA_pl_masserr1      1913 non-null   float64
 15  NEA_pl_masserr2      1913 non-null   float64
 16  NEA_pl_dens          695 non-null    float64
 17  NEA_pl_e             1767 non-null   float64
 18  NEA_pl_teq           946 non-null    float64
 19  NEA_st_teff          4651 non-null   float64
 20  NEA_st_tefferr1      4485 non-null   float64
 21  NEA_st_tefferr2      4458 non-null   float64
 22  NEA_st_rad           4555 non-null   float64
 23  NEA_st_raderr1       4402 non-null   float64
 24  NEA_st_raderr2       4377 non-null   float64
 25  NEA_st_mass          4254 non-null   float64
 26  NEA_st_masserr1      3966 non-null   float64
 27  NEA_st_masserr2      3941 non-null   float64
 28  NEA_st_met           3612 non-null   float64
 29  NEA_st_meterr1       3282 non-null   float64
 30  NEA_st_meterr2       3282 non-null   float64
 31  NEA_st_lum           934 non-null    float64
 32  NEA_st_lumerr1       799 non-null    float64
 33  NEA_st_lumerr2       786 non-null    float64
 34  NEA_st_logg          4394 non-null   float64
 35  NEA_st_age           2339 non-null   float64
 36  NEA_st_ageerr1       2162 non-null   float64
 37  NEA_st_ageerr2       2162 non-null   float64
 38  gaia_source_id       5014 non-null   int64
 39  NEAc_lum             4448 non-null   float64
 40  NEAc_lumerr1         4260 non-null   float64
 41  NEAc_lumerr2         4236 non-null   float64
 42  NEAc_teff            831 non-null    float64
 43  NEAc_tefferr1        731 non-null    float64
 44  NEAc_tefferr2        720 non-null    float64
 45  pl_koi_name          2679 non-null   object
 46  NEAorRos             5014 non-null   object
 47  gdr2_st_teff         4498 non-null   float64
 48  gdr2_st_tefferr2     4498 non-null   float64
 49  gdr2_st_tefferr1     4498 non-null   float64
 50  gdr2_st_rad          4209 non-null   float64
 51  gdr2_st_raderr2      4209 non-null   float64
 52  gdr2_st_raderr1      4209 non-null   float64
 53  gdr2_st_lum          4209 non-null   float64
 54  gdr2_st_lumerr2      4209 non-null   float64
 55  gdr2_st_lumerr1      4209 non-null   float64
 56  NEAorGDR2            5014 non-null   category
 57  st_koi_name          1445 non-null   object
 58  pl_kepler_name       1298 non-null   object
 59  status               1445 non-null   object
 60  CKSI_st_teff         1445 non-null   float64
 61  CKSI_st_tefferr1     1445 non-null   float64
 62  CKSI_st_tefferr2     1445 non-null   float64
 63  CKSII_st_teff        1445 non-null   float64
 64  CKSII_st_tefferr1    1445 non-null   float64
 65  CKSII_st_tefferr2    1445 non-null   float64
 66  CKSII_st_rad         1445 non-null   float64
 67  CKSII_st_raderr1     1445 non-null   float64
 68  CKSII_st_raderr2     1445 non-null   float64
 69  CKSII_st_mass        1445 non-null   float64
 70  CKSII_st_masserr1    1445 non-null   float64
 71  CKSII_st_masserr2    1445 non-null   float64
 72  CKSII_st_age         1445 non-null   float64
 73  CKSII_st_ageerr1     1445 non-null   float64
 74  CKSII_st_ageerr2     1445 non-null   float64
 75  CKSII_pl_rad         1443 non-null   float64
 76  CKSII_pl_raderr1     1443 non-null   float64
 77  CKSII_pl_raderr2     1443 non-null   float64
 78  CKSII_pl_sma         1443 non-null   float64
 79  CKSII_pl_smaerr1     1443 non-null   float64
 80  CKSII_pl_smaerr2     1443 non-null   float64
 81  EXOorCKS             5014 non-null   category
dtypes: category(2), float64(68), int64(3), object(9)
memory usage: 3.1+ MB

Info:
 None

Describe:
        NEA_sy_snum  NEA_sy_pnum  NEA_pl_period   NEA_pl_sma  NEA_pl_smaerr1  \
count  5014.000000  5014.000000   4.841000e+03  2807.000000     1996.000000
mean      1.102712     1.758277   8.689291e+04    11.661027        3.040878
std       0.340762     1.149596   5.779857e+06   183.936229      116.611556
min       1.000000     1.000000   9.070629e-02     0.004400        0.000000
25%       1.000000     1.000000   4.465630e+00     0.055705        0.000900
50%       1.000000     1.000000   1.153533e+01     0.117000        0.003000
75%       1.000000     2.000000   3.898530e+01     0.714000        0.040000
max       4.000000     8.000000   4.020000e+08  7506.000000     5205.000000

       NEA_pl_smaerr2   NEA_pl_rad  NEA_pl_raderr1  NEA_pl_raderr2  \
count     1995.000000  3883.000000     3501.000000     3501.000000
mean        -1.431486     4.156064        0.567864       -0.446731
std         46.404335     4.656381        1.625780        0.979509
min      -2060.000000     0.296000        0.000000      -32.506000
25%         -0.040000     1.580000        0.140000       -0.503000
50%         -0.003100     2.350000        0.290000       -0.230000
75%         -0.000900     3.540000        0.620000       -0.120000
max          0.000000    77.342000       68.910000        0.000000

        NEA_pl_mass  ...  CKSII_st_masserr2  CKSII_st_age  CKSII_st_ageerr1  \
count   2076.000000  ...        1445.000000   1445.000000       1445.000000
mean     720.937353  ...          -0.040789      6.290160          2.618175
std     1334.740569  ...           0.015834      2.437678          1.591163
min        0.020000  ...          -0.122913      1.230269          0.248966
25%       15.972875  ...          -0.043962      4.385307          1.279224
50%      214.317625  ...          -0.034648      6.095369          2.087793
75%      734.166825  ...          -0.032154      8.128305          3.961521
max    17668.169700  ...          -0.018387     14.487719          6.026236

       CKSII_st_ageerr2  CKSII_pl_rad  CKSII_pl_raderr1  CKSII_pl_raderr2  \
count       1445.000000   1443.000000       1443.000000       1443.000000
mean          -2.705613      7.849136          3.937165         -3.937165
std            1.550270    119.080522         76.804662         76.804662
min           -6.016918      0.277709          0.029773      -1973.512791
25%           -3.982152      1.447016          0.157131         -0.368073
50%           -2.290619      2.171523          0.235438         -0.235438
75%           -1.376260      2.901215          0.368073         -0.157131
max           -0.249360   3720.315265       1973.512791         -0.029773

       CKSII_pl_sma  CKSII_pl_smaerr1  CKSII_pl_smaerr2
count   1443.000000       1443.000000       1443.000000
mean       0.155184          0.002789         -0.002789
std        0.173440          0.003375          0.003375
min        0.011625          0.000193         -0.054719
25%        0.060716          0.001053         -0.003254
50%        0.102357          0.001789         -0.001789
75%        0.179330          0.003254         -0.001053
max        2.041010          0.054719         -0.000193

[8 rows x 71 columns]

In [8]:
# Why does it say 0 
#unmatched stars from CKS?
# ^ I'm getting rid of the instances where the entry is only in the 
#right-hand column
# some of the CKS planets are unconfirmed! the NEA only containes 
#confirmed planets
# I do not delete the unconfirmed planets from CKS because the status 
#isn't up to date. There are 1298 confirmed and 464 not dispositioned
# planets in CKS 2022_04_28 (numbers in CKS_processing)

# Classifying the uncertainties:

In [9]:
# Parameters I need to classify:
# pl_mass, pl_rad, pl_sma, st_teff, st_lum, st_mass, st_age, st_met (st_met less important atm)
# I will do st_mass first, as a tester, amnd the st_age
# Move best parameter retrieval to plots part/calc SEPHI (i.e. as and when needed)?
# Then perform cuts for W20 plots
# Then compute for the rest of the parameters and calculate SEPHI

# The original, all-in-one method is in testing.cross_cat_v2.ipynb

# Colum/heading names that I will need:
exo_cols = list(exoplanets)
parameters = ['st_mass', 'st_age', 'st_lum', 'st_teff', 'st_met', 'pl_mass', 'pl_rad', 'pl_sma']
catalogues = ['NEA_', 'GDR_', 'Q16_', 'CKSI_', 'CKSII_']
print(exoplanets.shape[0])

5014

## Method for flagging best values

In [10]:
def flag_best_values(df, param, catalogues):
    """
    Flags the column heading for the column with the smallest uncertainty on a particular 
    parameter. Favours values with uncertainites listed. If either of the uncertainies on 
    a particular value are missing, that version of the value will not be flagged.
    
    df = data frame (exoplanets)
    param = the parameter (e.g. 'st_age')
    catalogues = list of catalogue names e.g. 'NEA_'
    
    returns flags = an array of the column headings that have the smallest uncertainties 
    for that row (index)
    """
    #TODO: I might be able to write this without for loops
    
    means = pd.DataFrame()
    
    for l in catalogues:
        
        param_cols = []
        string = l + param
        exo_cols = list(df)
        
        for j in exo_cols:
            
            if j.__contains__(string):
                
                param_cols.append(j)
                
        if len(param_cols) > 0:
            
            means[string] = mean_percent_errs(df[param_cols])
            
            #c1 = np.where(np.isfinite(means[string]))
            #print("no. of finite means for", string, c1[0].size)
            
    flags = means.idxmin(axis=1, skipna=True)
    # Returns the column name/index of the smallest value in each row
    # With skipna=True, NaNs are ignored if there are real values in the row
    # If all values in the row are NaN, then NaN is returned
    
    c2 = np.where(~flags.isnull())[0]
    #print('flags:\n', flags)
    #print((flags).size[0])
    print('no. not null/NaN flags for', param, c2.size)
    
    return flags

## Finding the flags for all parameters

In [11]:
# Empty data frame to store the flags in:
all_flags = pd.DataFrame()

# Looping over all parameters:
for i in parameters:
    flags = flag_best_values(exoplanets, i, catalogues)
    all_flags[i] = flags
    
print(all_flags)

no. not null/NaN flags for st_mass 4539
no. not null/NaN flags for st_age 3012
no. not null/NaN flags for st_lum 786
no. not null/NaN flags for st_teff 4510
no. not null/NaN flags for st_met 3282
no. not null/NaN flags for pl_mass 1913
no. not null/NaN flags for pl_rad 3660
no. not null/NaN flags for pl_sma 3310
          st_mass st_age      st_lum      st_teff      st_met      pl_mass  \
0     NEA_st_mass    NaN  NEA_st_lum  NEA_st_teff  NEA_st_met  NEA_pl_mass
1     NEA_st_mass    NaN         NaN  NEA_st_teff         NaN  NEA_pl_mass
2     NEA_st_mass    NaN         NaN  NEA_st_teff  NEA_st_met          NaN
3     NEA_st_mass    NaN         NaN  NEA_st_teff         NaN  NEA_pl_mass
4     NEA_st_mass    NaN         NaN  NEA_st_teff         NaN  NEA_pl_mass
...           ...    ...         ...          ...         ...          ...
5009          NaN    NaN         NaN          NaN         NaN  NEA_pl_mass
5010          NaN    NaN         NaN          NaN         NaN  NEA_pl_mass
5011          NaN    NaN         NaN          NaN         NaN  NEA_pl_mass
5012  NEA_st_mass    NaN  NEA_st_lum          NaN  NEA_st_met  NEA_pl_mass
5013          NaN    NaN         NaN  NEA_st_teff  NEA_st_met          NaN

     pl_rad      pl_sma
0       NaN  NEA_pl_sma
1       NaN  NEA_pl_sma
2       NaN         NaN
3       NaN  NEA_pl_sma
4       NaN  NEA_pl_sma
...     ...         ...
5009    NaN  NEA_pl_sma
5010    NaN  NEA_pl_sma
5011    NaN  NEA_pl_sma
5012    NaN  NEA_pl_sma
5013    NaN         NaN

[5014 rows x 8 columns]

/mnt/c/Users/Scarlett/SEPHI/preprocessing/analyse_errs.py:32: RuntimeWarning: divide by zero encountered in reciprocal
  percent_errs1 =  np.absolute( np.multiply(errs1, values**(-1)) ) * 100
/mnt/c/Users/Scarlett/SEPHI/preprocessing/analyse_errs.py:33: RuntimeWarning: divide by zero encountered in reciprocal
  percent_errs2 =  np.absolute( np.multiply(errs2, values**(-1)) ) * 100
/mnt/c/Users/Scarlett/SEPHI/preprocessing/analyse_errs.py:14: RuntimeWarning: divide by zero encountered in reciprocal
  percent_errs =  np.absolute( np.multiply(errs, values**(-1)) ) * 100

## Adding the flags for all parameters to the exoplanets database

In [12]:
# Renaming the flags columns so that they can be added to the exoplanets df:
#best_cols = [str(i) + '_best' for i in parameters] # generates the below
#print(best_cols)
best_cols = ['st_mass_best', 'st_age_best', 'st_lum_best', 'st_teff_best', 'st_met_best', 'pl_mass_best', 'pl_rad_best', 'pl_sma_best']
best_cols_dict = {parameters[i]: best_cols[i] for i in range(len(parameters))}
all_flags.rename(columns=best_cols_dict, inplace=True)

# Adding the all_flags df to exoplanets:
exoplanets = pd.concat([exoplanets, all_flags], axis=1)

# Concat results:
print("Info:\n", exoplanets.info())
print("\nDescribe:\n", exoplanets.describe())
print(exoplanets)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5014 entries, 0 to 5013
Data columns (total 90 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pl_name              5014 non-null   object
 1   hostname             5014 non-null   object
 2   gaia_designation     4828 non-null   object
 3   NEA_sy_snum          5014 non-null   int64
 4   NEA_sy_pnum          5014 non-null   int64
 5   NEA_discoverymethod  5014 non-null   object
 6   NEA_pl_period        4841 non-null   float64
 7   NEA_pl_sma           2807 non-null   float64
 8   NEA_pl_smaerr1       1996 non-null   float64
 9   NEA_pl_smaerr2       1995 non-null   float64
 10  NEA_pl_rad           3883 non-null   float64
 11  NEA_pl_raderr1       3501 non-null   float64
 12  NEA_pl_raderr2       3501 non-null   float64
 13  NEA_pl_mass          2076 non-null   float64
 14  NEA_pl_masserr1      1913 non-null   float64
 15  NEA_pl_masserr2      1913 non-null   float64
 16  NEA_pl_dens          695 non-null    float64
 17  NEA_pl_e             1767 non-null   float64
 18  NEA_pl_teq           946 non-null    float64
 19  NEA_st_teff          4651 non-null   float64
 20  NEA_st_tefferr1      4485 non-null   float64
 21  NEA_st_tefferr2      4458 non-null   float64
 22  NEA_st_rad           4555 non-null   float64
 23  NEA_st_raderr1       4402 non-null   float64
 24  NEA_st_raderr2       4377 non-null   float64
 25  NEA_st_mass          4254 non-null   float64
 26  NEA_st_masserr1      3966 non-null   float64
 27  NEA_st_masserr2      3941 non-null   float64
 28  NEA_st_met           3612 non-null   float64
 29  NEA_st_meterr1       3282 non-null   float64
 30  NEA_st_meterr2       3282 non-null   float64
 31  NEA_st_lum           934 non-null    float64
 32  NEA_st_lumerr1       799 non-null    float64
 33  NEA_st_lumerr2       786 non-null    float64
 34  NEA_st_logg          4394 non-null   float64
 35  NEA_st_age           2339 non-null   float64
 36  NEA_st_ageerr1       2162 non-null   float64
 37  NEA_st_ageerr2       2162 non-null   float64
 38  gaia_source_id       5014 non-null   int64
 39  NEAc_lum             4448 non-null   float64
 40  NEAc_lumerr1         4260 non-null   float64
 41  NEAc_lumerr2         4236 non-null   float64
 42  NEAc_teff            831 non-null    float64
 43  NEAc_tefferr1        731 non-null    float64
 44  NEAc_tefferr2        720 non-null    float64
 45  pl_koi_name          2679 non-null   object
 46  NEAorRos             5014 non-null   object
 47  gdr2_st_teff         4498 non-null   float64
 48  gdr2_st_tefferr2     4498 non-null   float64
 49  gdr2_st_tefferr1     4498 non-null   float64
 50  gdr2_st_rad          4209 non-null   float64
 51  gdr2_st_raderr2      4209 non-null   float64
 52  gdr2_st_raderr1      4209 non-null   float64
 53  gdr2_st_lum          4209 non-null   float64
 54  gdr2_st_lumerr2      4209 non-null   float64
 55  gdr2_st_lumerr1      4209 non-null   float64
 56  NEAorGDR2            5014 non-null   category
 57  st_koi_name          1445 non-null   object
 58  pl_kepler_name       1298 non-null   object
 59  status               1445 non-null   object
 60  CKSI_st_teff         1445 non-null   float64
 61  CKSI_st_tefferr1     1445 non-null   float64
 62  CKSI_st_tefferr2     1445 non-null   float64
 63  CKSII_st_teff        1445 non-null   float64
 64  CKSII_st_tefferr1    1445 non-null   float64
 65  CKSII_st_tefferr2    1445 non-null   float64
 66  CKSII_st_rad         1445 non-null   float64
 67  CKSII_st_raderr1     1445 non-null   float64
 68  CKSII_st_raderr2     1445 non-null   float64
 69  CKSII_st_mass        1445 non-null   float64
 70  CKSII_st_masserr1    1445 non-null   float64
 71  CKSII_st_masserr2    1445 non-null   float64
 72  CKSII_st_age         1445 non-null   float64
 73  CKSII_st_ageerr1     1445 non-null   float64
 74  CKSII_st_ageerr2     1445 non-null   float64
 75  CKSII_pl_rad         1443 non-null   float64
 76  CKSII_pl_raderr1     1443 non-null   float64
 77  CKSII_pl_raderr2     1443 non-null   float64
 78  CKSII_pl_sma         1443 non-null   float64
 79  CKSII_pl_smaerr1     1443 non-null   float64
 80  CKSII_pl_smaerr2     1443 non-null   float64
 81  EXOorCKS             5014 non-null   category
 82  st_mass_best         4539 non-null   object
 83  st_age_best          3012 non-null   object
 84  st_lum_best          786 non-null    object
 85  st_teff_best         4510 non-null   object
 86  st_met_best          3282 non-null   object
 87  pl_mass_best         1913 non-null   object
 88  pl_rad_best          3660 non-null   object
 89  pl_sma_best          3310 non-null   object
dtypes: category(2), float64(68), int64(3), object(17)
memory usage: 3.4+ MB
Info:
 None

Describe:
        NEA_sy_snum  NEA_sy_pnum  NEA_pl_period   NEA_pl_sma  NEA_pl_smaerr1  \
count  5014.000000  5014.000000   4.841000e+03  2807.000000     1996.000000
mean      1.102712     1.758277   8.689291e+04    11.661027        3.040878
std       0.340762     1.149596   5.779857e+06   183.936229      116.611556
min       1.000000     1.000000   9.070629e-02     0.004400        0.000000
25%       1.000000     1.000000   4.465630e+00     0.055705        0.000900
50%       1.000000     1.000000   1.153533e+01     0.117000        0.003000
75%       1.000000     2.000000   3.898530e+01     0.714000        0.040000
max       4.000000     8.000000   4.020000e+08  7506.000000     5205.000000

       NEA_pl_smaerr2   NEA_pl_rad  NEA_pl_raderr1  NEA_pl_raderr2  \
count     1995.000000  3883.000000     3501.000000     3501.000000
mean        -1.431486     4.156064        0.567864       -0.446731
std         46.404335     4.656381        1.625780        0.979509
min      -2060.000000     0.296000        0.000000      -32.506000
25%         -0.040000     1.580000        0.140000       -0.503000
50%         -0.003100     2.350000        0.290000       -0.230000
75%         -0.000900     3.540000        0.620000       -0.120000
max          0.000000    77.342000       68.910000        0.000000

        NEA_pl_mass  ...  CKSII_st_masserr2  CKSII_st_age  CKSII_st_ageerr1  \
count   2076.000000  ...        1445.000000   1445.000000       1445.000000
mean     720.937353  ...          -0.040789      6.290160          2.618175
std     1334.740569  ...           0.015834      2.437678          1.591163
min        0.020000  ...          -0.122913      1.230269          0.248966
25%       15.972875  ...          -0.043962      4.385307          1.279224
50%      214.317625  ...          -0.034648      6.095369          2.087793
75%      734.166825  ...          -0.032154      8.128305          3.961521
max    17668.169700  ...          -0.018387     14.487719          6.026236

       CKSII_st_ageerr2  CKSII_pl_rad  CKSII_pl_raderr1  CKSII_pl_raderr2  \
count       1445.000000   1443.000000       1443.000000       1443.000000
mean          -2.705613      7.849136          3.937165         -3.937165
std            1.550270    119.080522         76.804662         76.804662
min           -6.016918      0.277709          0.029773      -1973.512791
25%           -3.982152      1.447016          0.157131         -0.368073
50%           -2.290619      2.171523          0.235438         -0.235438
75%           -1.376260      2.901215          0.368073         -0.157131
max           -0.249360   3720.315265       1973.512791         -0.029773

       CKSII_pl_sma  CKSII_pl_smaerr1  CKSII_pl_smaerr2
count   1443.000000       1443.000000       1443.000000
mean       0.155184          0.002789         -0.002789
std        0.173440          0.003375          0.003375
min        0.011625          0.000193         -0.054719
25%        0.060716          0.001053         -0.003254
50%        0.102357          0.001789         -0.001789
75%        0.179330          0.003254         -0.001053
max        2.041010          0.054719         -0.000193

[8 rows x 71 columns]
         pl_name  hostname              gaia_designation  NEA_sy_snum  \
0       11 Com b    11 Com  Gaia DR2 3946945413106333696            2
1       11 UMi b    11 UMi  Gaia DR2 1696798367260229376            1
2       14 And b    14 And  Gaia DR2 1920113512486282240            1
3       14 Her b    14 Her  Gaia DR2 1385293808145621504            1
4     16 Cyg B b  16 Cyg B  Gaia DR2 2135550755683407232            3
...          ...       ...                           ...          ...
5009   ups And b   ups And   Gaia DR2 348020448377061376            2
5010   ups And c   ups And   Gaia DR2 348020448377061376            2
5011   ups And d   ups And   Gaia DR2 348020448377061376            2
5012   ups Leo b   ups Leo  Gaia DR2 3794167001116433152            1
5013    xi Aql b    xi Aql  Gaia DR2 4298361114750843904            1

      NEA_sy_pnum NEA_discoverymethod  NEA_pl_period  NEA_pl_sma  \
0               1     Radial Velocity     326.030000    1.290000
1               1     Radial Velocity     516.219970    1.530000
2               1     Radial Velocity     185.840000    0.830000
3               2     Radial Velocity    1773.400020    2.930000
4               1     Radial Velocity     798.500000    1.660000
...           ...                 ...            ...         ...
5009            3     Radial Velocity       4.617033    0.059222
5010            3     Radial Velocity     241.258000    0.827774
5011            3     Radial Velocity    1276.460000    2.513290
5012            1     Radial Velocity     385.200000    1.180000
5013            1     Radial Velocity     136.750000    0.680000

      NEA_pl_smaerr1  NEA_pl_smaerr2  ...  CKSII_pl_smaerr2   EXOorCKS  \
0           0.050000       -0.050000  ...               NaN  left_only
1           0.070000       -0.070000  ...               NaN  left_only
2                NaN             NaN  ...               NaN  left_only
3           0.080000       -0.080000  ...               NaN  left_only
4           0.030000       -0.030000  ...               NaN  left_only
...              ...             ...  ...               ...        ...
5009        0.000000        0.000000  ...               NaN  left_only
5010        0.000015       -0.000015  ...               NaN  left_only
5011        0.000750       -0.000750  ...               NaN  left_only
5012        0.110000       -0.320000  ...               NaN  left_only
5013             NaN             NaN  ...               NaN  left_only

      st_mass_best  st_age_best  st_lum_best  st_teff_best  st_met_best  \
0      NEA_st_mass          NaN   NEA_st_lum   NEA_st_teff   NEA_st_met
1      NEA_st_mass          NaN          NaN   NEA_st_teff          NaN
2      NEA_st_mass          NaN          NaN   NEA_st_teff   NEA_st_met
3      NEA_st_mass          NaN          NaN   NEA_st_teff          NaN
4      NEA_st_mass          NaN          NaN   NEA_st_teff          NaN
...            ...          ...          ...           ...          ...
5009           NaN          NaN          NaN           NaN          NaN
5010           NaN          NaN          NaN           NaN          NaN
5011           NaN          NaN          NaN           NaN          NaN
5012   NEA_st_mass          NaN   NEA_st_lum           NaN   NEA_st_met
5013           NaN          NaN          NaN   NEA_st_teff   NEA_st_met

      pl_mass_best  pl_rad_best  pl_sma_best
0      NEA_pl_mass          NaN   NEA_pl_sma
1      NEA_pl_mass          NaN   NEA_pl_sma
2              NaN          NaN          NaN
3      NEA_pl_mass          NaN   NEA_pl_sma
4      NEA_pl_mass          NaN   NEA_pl_sma
...            ...          ...          ...
5009   NEA_pl_mass          NaN   NEA_pl_sma
5010   NEA_pl_mass          NaN   NEA_pl_sma
5011   NEA_pl_mass          NaN   NEA_pl_sma
5012   NEA_pl_mass          NaN   NEA_pl_sma
5013           NaN          NaN          NaN

[5014 rows x 90 columns]

# Retreiving the 'best' values from the exoplanets database using the flags

## Method for selecting the best parameter:

In [13]:
def get_best_values(df, param):
    """
    Retrieves the parameter value from the exoplanets df that corresponds to the flagged 
    'best' parameter.
    
    df = input data frame (exoplanets)
    param = the parameter (e.g. 'st_age'
    """
    
    param = param + '_best'
    best_values = np.zeros(len(df), dtype=np.float64) # TODO: should I change this to df.size[0]?
    
    for m in range(len(df)):
        if df[param].iloc[m] != df[param].iloc[m]:
            
            best_values[m] = np.nan
            
        else:
            best_values[m] = df[ df[param].iloc[m] ].iloc[m]
            
    return best_values

In [14]:
# Test on st_mass:
#masses = get_best_values(exoplanets, 'st_mass')
#print(masses)

## Retrieving the 'best' values for all parameters

In [15]:
# Looping over all parameters:
best_values_all = pd.DataFrame()
for i in parameters:
    best_values = get_best_values(exoplanets, i)
    best_values_all[i] = best_values 
    
print(best_values_all)

      st_mass  st_age      st_lum  st_teff  st_met     pl_mass  pl_rad  \
0        2.70     NaN  174.984669   4742.0  -0.350  6165.60000     NaN
1        2.78     NaN         NaN   4213.0     NaN  4684.81420     NaN
2        2.20     NaN         NaN   4813.0  -0.240         NaN     NaN
3        0.90     NaN         NaN   5338.0     NaN  1481.08780     NaN
4        1.08     NaN         NaN   5750.0     NaN   565.73740     NaN
...       ...     ...         ...      ...     ...         ...     ...
5009      NaN     NaN         NaN      NaN     NaN   218.53100     NaN
5010      NaN     NaN         NaN      NaN     NaN   629.59500     NaN
5011      NaN     NaN         NaN      NaN     NaN  1313.22000     NaN
5012     1.48     NaN   63.095734      NaN  -0.200   162.09249     NaN
5013      NaN     NaN         NaN   4780.0  -0.205         NaN     NaN

        pl_sma
0     1.290000
1     1.530000
2          NaN
3     2.930000
4     1.660000
...        ...
5009  0.059222
5010  0.827774
5011  2.513290
5012  1.180000
5013       NaN

[5014 rows x 8 columns]

# Save data:

In [16]:
#exoplanets.to_csv( path.join( exoplanets_dir, f"exoplanets_" + data_date + f".csv"), index=False)